[submodule "deps/nfd-zig"]
	path = deps/nfd-zig
	url = https://github.com/fabioarnold/nfd-zig
[submodule "deps/zigwin32"]
	path = deps/zigwin32
	url = https://github.com/fabioarnold/zigwin32
[submodule "deps/s2s"]
	path = deps/s2s
	url = https://github.com/ziglibs/s2s
[submodule "deps/nanovg-zig"]
	path = deps/nanovg-zig
	url = https://github.com/fabioarnold/nanovg-zig
